*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Lato', sans-serif;
}
.tac{
	text-align: center;
	font-family: 'Exo 2', sans-serif;
    font-weight: bold;
}

.border{
	width: 80px;
    height: 3px;
    background: #FFB243;
    display: inline-block;
    text-align: center;
}
.heading{
    width: 600px;
    margin: 0 auto;
}
.heading h2{
    text-transform: capitalize;
    color: #008BA5;

}
.heading h4{
    font-size: 15px;
    line-height: 25px;
    font-weight: normal;
}
ul.simplefilter{
     width: 700px;
    margin: 0 auto;
}
.gap_30{
	margin-bottom: 30px;
}
.gap-30{
	margin-top: 30px;
}

/*header-top style start*/
.header-top{
	width: 100%;
	background: #008BA5;
	color: #fff;
}
.header-top p i{
	margin-right: 10px;
	font-size: 16px;
}
.header-top p span{
	font-size: 16px;
	letter-spacing: 1px;
}
.header-top .email{
	float: left;
	margin-right: 20px;
}
.header-top .phone{
	float: left;
}
.header-top .inner{
	margin-top: 13px;
}
.header-top a{
	text-decoration: none;
	color: #fff;
	margin-right: 20px;
	font-size: 16px;
}
.socialicons{
    margin-top: 13px;
    float: right;
}

.socialicons ul li{
    list-style-type: none;
   float: left;
    
}
.socialicons ul li:nth-child(4){
    margin-right: 0;
}
.socialicons ul li i{
    color: #fff;
    
}
.socialicons li i:hover{
    
     -webkit-transition: ease .4s all;
    -moz-transition: ease .4s all;
    -ms-transition: ease .4s all;
    -o-transition: ease .4s all;
    transition: ease .4s all;
    color: #ffb607;
}


/*header-top style end*/


/*main-header style start*/
.main_header{
	width: 100%;
	background: #fff;
}

/*main-header logo*/
.main_header .logo{
	width: 150px;
	margin-top: 15px;
}
.main_header .logo img{
	float: left;
	width: 115px;
    margin-top: -15px;
}

/*header menu start*/
.main_header .menu{
	float: right;
}
.menu ul li{
	list-style-type: none;
	float: left;
	text-align: center;
	text-transform: uppercase;
	position:relative;
}
.menu ul li a{
	padding: 25px 20px;
	color: #555;
	text-decoration: none;
	display: block;
	font-size: 14px;
	font-weight: 600;		
}
.menu ul li a:hover{
	display: block;
	color: #FFB243;
}
.menu li a.active{
    color: #FFB243;
}
.menu ul ul{
	position:absolute;
	z-index: -99999;
	display: none;
}
.menu ul ul ul{
	z-index: -99999;
	padding-top: 0;

}
.menu li li{
	  -webkit-transition: height 200ms ease-in;
    -moz-transition: height 200ms ease-in;
    -o-transition: height 200ms ease-in;
    transition: height 200ms ease-in;
     -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.menu ul ul li,
.menu ul ul ul li{
	width: 200px;
	height: 45px;	
	text-align: left;	
	background:#fff;
	border-bottom: 1px solid #FFB243;	
	padding-left: 20px;
	text-transform: none;

}
.menu ul ul li a,
.menu ul ul ul li a{
	padding: 10px;

}
.menu ul ul li:hover{
	color: #fff;
	background: #FFB243;

}
.menu ul ul li a{
	display: block;
	color: #555;
}
.menu ul ul li a:hover{
	color: #fff;

}
.menu ul li:hover >ul{
	z-index: 99999;
	display: block;
}
.menu ul ul ul{
	margin-left: 180px;
	top: -3px;
	display: none;
}
.menu li.nested:hover .t-nest{
	display: block;
}

.menu ul li:hover li:nth-child(1){
	border-top: 3px solid #FFB243;
}
.menu ul li.m-s i{
	float: right;
	margin-right: 0;
	margin-top: 4px;
}
	/*header menu end*/

/*main-header style end*/



 /*Start slider*/
.slider{
	width: 100%;
	height: auto;
	position: relative;
}
.slide-carousel{
	position: relative;
	overflow: hidden;
}
.slide-carousel .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
}
.slide-carousel .item{
	height: 500px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	
}
.slide-carousel .item .text {
	padding-top: 8%;
	text-align: left;
	margin-left: 8%;
	position: relative;
    z-index: 99;
}
.slide-carousel .item h2 {
	
	font-size: 45px;
	text-transform: capitalize;
	font-weight: 600;
	color: #DCDCDB;
    margin-bottom: 15px;
	display: inline-block;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.slide-carousel .item span{
	color: #FFB243;
}
.slide-carousel .item h3 {
	margin-top: 10px;
	text-transform: capitalize;
	font-size: 26px;
	font-weight: normal;
	color: #E9E8E8;
	margin-bottom: 20px;
	
	display: inline-block;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.slide-carousel .item h4{
	margin-top: 0;
	margin-bottom: 40px;
	color: #E9E8E8;
	font-size: 18px;
}

.slide-carousel .item p {
    margin-top: 20px;
    animation-duration: .8s;
    animation-delay: .8s;
    display: inline-block;
    position: relative;
	-webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.slide-carousel .item p a {
	text-decoration: none;
	border-radius: 0;
	font-size: 14px;
	text-transform: uppercase;	
	color: #FFB243;
	padding: 10px 18px;
	border: 2px solid #FFB243;
	-webkit-transition: ease .4s all;
    -moz-transition: ease .4s all;
    -ms-transition: ease .4s all;
    -o-transition: ease .4s all;
    transition: ease .4s all;
}
.slide-carousel .item p{
    margin-right: 10px;
}
.slide-carousel .item p a:hover{
	background: #FFB243;
	border: 0;
	
}
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
/*End of slider*/



/*----Start we-offer-----*/
.we-offer{
    padding: 50px 0;

}
.box-smp{
	background: #F1F1F1;
	padding: 40px 25px;
	box-shadow: 0px 0 8px #ccc;
	
}
.box-smp .icon i{
	font-size: 45px;
	margin-bottom: 15px;
	color: #F1A521;
}
.box-smp h3{
	margin-bottom: 15px;
	font-weight: bold;
}
.box-smp a{
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
}
.box-smp:before,
.box-smp:after{
	height: 1px;
	width: 1px;
	position: absolute;
	content: '';
	visibility: hidden;
	
}
.box-smp .text p{
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
}
.box-smp:before{	
	left: 15px;
	top: 0;	
	border-top: 2px solid #ffb607;
	border-left: 2px solid #ffb607;	
    width: 120px;
    height: 100px;
    visibility: visible;
    -webkit-transition: ease .8s all;
    -moz-transition: ease .8s all;
    -ms-transition: ease .8s all;
    -o-transition: ease .8s all;
    transition: ease .8s all;
}
.current:before{    
    left: 15px;
    top: 0; 
    border-top: 2px solid #ffb607;
    border-left: 2px solid #ffb607; 
    width: 300px;
    height: 200px;
    visibility: visible;
    -webkit-transition: ease .8s all;
    -moz-transition: ease .8s all;
    -ms-transition: ease .8s all;
    -o-transition: ease .8s all;
    transition: ease .8s all;
}
.box-smp:after{	
	right: 15px;
	bottom: 0;	
	border-right: 2px solid #ffb607;
	border-bottom: 2px solid #ffb607;
    width: 120px;
    height: 100px;
    visibility: visible;
    -webkit-transition: ease .8s all;
    -moz-transition: ease .8s all;
    -ms-transition: ease .8s all;
    -o-transition: ease .8s all;
    transition: ease .8s all;	
}
.current:after{ 
    right: 15px;
    bottom: 0;  
    border-right: 2px solid #ffb607;
    border-bottom: 2px solid #ffb607;
    width: 300px;
    height: 200px;
    visibility: visible;
    -webkit-transition: ease .8s all;
    -moz-transition: ease .8s all;
    -ms-transition: ease .8s all;
    -o-transition: ease .8s all;
    transition: ease .8s all;   
}
.box-smp:hover:before,
.box-smp:hover:after{
	width: 300px;
	height: 200px;
	visibility: visible;
	-webkit-transition: ease .8s all;
    -moz-transition: ease .8s all;
    -ms-transition: ease .8s all;
    -o-transition: ease .8s all;
    transition: ease .8s all;
	
}
	/*----End we-offer-----*/


 /*Start whychooseus*/
    
.whychooseus{
	width: 100%;
	background: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}
.choose_box {
	
	margin-top: 20px;
	margin-bottom: 20px;
		
}
.choose_box a{
	text-decoration: none;
	color: #FFB243;
}
.choose_box .box {
	width: 100%;
	height: auto;
	border: 1px solid #DCDCDC;
	padding: 35px 15px;
    -webkit-box-shadow: 13px 15px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 15px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 13px 15px 5px 0px rgba(0,0,0,0.75);
    border: 2px solid #FFB243;
      -webkit-transition: ease .7s all;
    -moz-transition: ease .7s all;
    -ms-transition: ease .7s all;
    -o-transition: ease .7s all;
    transition: ease .7s all;
    overflow: hidden;
}
.choose_box .box p{
	font-size: 16px;

}
.choose_box .box .icon{
    margin-top: 30px;
    margin-bottom: 20px;
}
.choose_box .box .icon i{
    font-size: 50px;
}
.choose_box .bg2{
	width: 100%;
	height: auto;
	
	color: #333;
	padding-top: 5px;
}

.choose_box .bg2 .button{
	padding: 10px 20px;
	background: #FFB243;
	color: #fff;
	display: inline-block;
	margin-top: 15px;
}
.choose_box .bg2 h3{
	font-size: 18px;
}
.choose_box .bg2 .button a{
	color: #fff;
	font-size: 18px;
}
.choose_box .box .text h3{
	text-transform: uppercase;
    font-weight: bold;
	
}
.choose_box .box:hover{
    background: #FFB243;
    color: #21445C;

}
.choose_box .c_current{
     background: #FFB243;
    color: #21445C;
}
.choose_box .c_current .button a{
    color: #21445C;
      -webkit-transition: ease .6s all;
    -moz-transition: ease .6s all;
    -ms-transition: ease .6s all;
    -o-transition: ease .6s all;
    transition: ease .6s all;
}
.choose_box .c_current i{
    color: #21445C;
}
.choose_box .c_current h3 a{
    color: #21445C!important;
}
.choose_box .c_current .button{
    border: 2px solid #21445C;
    color: #21445C;
      -webkit-transition: ease .6s all;
    -moz-transition: ease .6s all;
    -ms-transition: ease .6s all;
    -o-transition: ease .6s all;
    transition: ease .6s all;
}
.choose_box .box:hover a{
    color: #21445C;
      -webkit-transition: ease .6s all;
    -moz-transition: ease .6s all;
    -ms-transition: ease .6s all;
    -o-transition: ease .6s all;
    transition: ease .6s all;

}
.choose_box .box:hover .button{
    border: 2px solid #21445C;
      -webkit-transition: ease .6s all;
    -moz-transition: ease .6s all;
    -ms-transition: ease .6s all;
    -o-transition: ease .6s all;
    transition: ease .6s all;
}
     /*End whychooseus*/

/*Start submation*/

.submation{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    background: url(../image/a1.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}
.submation .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0.7;
}
.submation .text{
    color: #fff;
}
.submation .text h2{
    font-family: 'Exo 2', sans-serif;
}
.submation .text .border{

   margin-bottom: 15px;
}

.submation input[type=text],
.submation .select {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    
    border: 2px solid #ffb607;
    overflow: hidden;
    outline-color: #ffb607;
   
}
.submation input[type=submit] {
    
    background-color: #FFB243;
    color: #fff;
    font-weight: normal;
    padding: 8px 25px;
    margin: 8px 0;
    border: none;  
    cursor: pointer;
    -webkit-transition: ease .4s all;
    -moz-transition: ease .4s all;
    -ms-transition: ease .4s all;
    -o-transition: ease .4s all;
    transition: ease .4s all;
}
.submation input[type=submit]:hover{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}
    /*End of submation*/

.projects{
    background: #fff;
    padding: 60px 0;
    font-family: 'Exo 2', sans-serif;
   
}
.projects .nav{
    width: 722px;
    margin: 0 auto;
    background: none;
    margin-bottom: 20px;
   
}
.projects .nav .active{
    background: #FFB243;
    color: #fff;
    
}
.projects ul li{
    margin-right: 10px;
    background: none;
    color: #575757;
    padding: 5px 15px;
   text-transform: none;
   font-weight: bold;
    margin-bottom: 10px;
    border: 2px solid #FFB243;
    float: left;
    cursor: pointer;
}
.projects ul li:nth-last-child(1){
    margin-right: 0;
}
.projects ul li:hover{
    background: #FFB243;
    color: #fff;
     -webkit-transition: ease .4s all;
    -moz-transition: ease .4s all;
    -ms-transition: ease .4s all;
    -o-transition: ease .4s all;
    transition: ease .4s all;
}
.projects .item-desc{
    text-transform: none;
}
.projects h4{
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 18px;

}
.projects h4 a{
    text-decoration: none;
    color: #333;
}
.filtr-container{
    margin-top: 40px;
}
.filtr-container img{
    width: 100%;
    height: 200px;
}
.projects .control{
	margin-bottom: 100px;
}
.projects .image{
    position: relative;
    margin-bottom: 15px;
}
.projects .control .overlay{
    position: absolute;   
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    background: rgba(0, 0, 0, 0.75);
    -webkit-transition: ease .4s all;
    -moz-transition: ease .4s all;
    -ms-transition: ease .4s all;
    -o-transition: ease .4s all;
    transition: ease .4s all;
    visibility: hidden;
}
.projects .f_current .overlay{
     top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    visibility: visible;
}
.projects .control:hover .overlay{    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    visibility: visible;
}
.projects .view_project{
    margin-left: 28%;
    position: absolute;   
    top: 0;
    visibility: hidden;

}
.projects .view_project a{
	text-decoration: none;
	text-transform: uppercase;
	color: #FFB243;
	padding: 10px 20px;
	border: 2px solid #FFB243;
}
.f_current .view_project{
      visibility: visible;
    top: 40%;
    -webkit-transition: ease .5s all;
    -moz-transition: ease .5s all;
    -ms-transition: ease .5s all;
    -o-transition: ease .5s all;
    transition: ease .5s all;
}
.projects .control:hover .view_project{
     visibility: visible;
    top: 40%;
    -webkit-transition: ease .5s all;
    -moz-transition: ease .5s all;
    -ms-transition: ease .5s all;
    -o-transition: ease .5s all;
    transition: ease .5s all;
}
.more{
	margin-top: 50px;
}
.more a{
	text-decoration: none;
	padding: 10px 20px;
	background: #FFB243;
	color: #fff;
	border-radius: 20px;
	text-transform: capitalize;
	font-size: 18px;
}
.more a:hover{
	background: #222;
	 -webkit-transition: ease .5s all;
    -moz-transition: ease .5s all;
    -ms-transition: ease .5s all;
    -o-transition: ease .5s all;
    transition: ease .5s all;
}
/*Start counterup*/ 

.counterup{
     width: 100%;
    background: url(../image/a1.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
     padding: 40px 20px;
}
.counterup .overley {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}
.counterup .box{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.counterup .box h2{
    font-size: 45px;
}
.counterup .box h4{
    font-size: 18px;
}
    /*end counterup*/

   
/*----Start blog-----*/
.blog{
    padding: 50px;
}
.blog .blog-content .image img{
    max-width: 220px;
    height: 230px;
}
.blog a{
    text-decoration: none;
    color: #333;
}
.blog h3{
    margin-top: 0;
    text-transform: capitalize;
    font-weight: bold;
}
.blog .blog-box{
    padding-left: 140px;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-right: 25px;
   
    margin-left: 100px;
    margin-top: 40px;
    position: relative;
    box-shadow: 0px 0 8px #ccc;

}

.blog-body{
    margin-top: 10px;
    margin-bottom: 20px;
}
.blog-body p{
    line-height: 25px;
}
.blog .text{
    width: 100%;
    display: inline-block;
}
.blog .text i{
    margin-right: 5px;
}
.blog .text .left{
    float: left;
}
.blog .text .right{
    float: left;
    margin-left: 30px;
}
.read-more p a{
    text-transform: uppercase;
    color: #ffb607;
    font-weight: bold;
    margin-top: 10px;
}
.read-more p a span{
    margin-right: 8px;
}
.blog .blog-content .image{
    position: absolute;
    left: 0;
    top: 0;
}
.blog-box:before,
.blog-box:after{
    height: 1px;
    width: 1px;
    position: absolute;
    content: '';
    visibility: hidden;
    
}
.blog-box:before{   
    right: 0;
    top: 0; 
    border-top: 2px solid #ffb607;
    border-right: 2px solid #ffb607;    
}
.blog-box:after{    
    left: 0;
    bottom: 0;  
    border-left: 2px solid #ffb607;
    border-bottom: 2px solid #ffb607;   
}
.n_current .blog-box:before,
.n_current .blog-box:after{
    width: 160px;
    height: 100px;
    visibility: visible;
    -webkit-transition: ease .8s all;
    -moz-transition: ease .8s all;
    -ms-transition: ease .8s all;
    -o-transition: ease .8s all;
    transition: ease .8s all;
    
}
.blog-box:hover:before,
.blog-box:hover:after{
    width: 160px;
    height: 100px;
    visibility: visible;
    -webkit-transition: ease .8s all;
    -moz-transition: ease .8s all;
    -ms-transition: ease .8s all;
    -o-transition: ease .8s all;
    transition: ease .8s all;
    
}
.hover{
    position: relative;
}
.hover .overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    background: #000;
    opacity: .7;
     -webkit-transition: ease .6s all;
    -moz-transition: ease .6s all;
    -ms-transition: ease .6s all;
    -o-transition: ease .6s all;
    transition: ease .6s all;
    visibility: hidden;
}
.n_current .overlay{
      top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    visibility: visible;
    overflow: hidden;
}
.blog-content .item:hover .hover .overlay{
     top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    visibility: visible;
    overflow: hidden;
}
.hover .icon{
    position: absolute;
    top: 0;
    left: 38%;
    visibility: hidden;
}
.hover .icon i{
    color: #333;
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #ffb607;
    border-radius: 50%;
}
.blog-content .item:hover .icon{
    top: 40%;
    visibility: visible;
     -webkit-transition: ease .6s all;
    -moz-transition: ease .6s all;
    -ms-transition: ease .6s all;
    -o-transition: ease .6s all;
    transition: ease .6s all;
}
.n_current .icon{
    top: 40%;
    visibility: visible;
     -webkit-transition: ease .6s all;
    -moz-transition: ease .6s all;
    -ms-transition: ease .6s all;
    -o-transition: ease .6s all;
    transition: ease .6s all;
}
    /*----End blog-----*/
    /*end newsblog*/

 /*start businessp*/   
.businessp{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.bparties .bbox{
    float: left}
.businessp .bparties{
    width: 800px;
    margin: 0 auto;
}
.businessp .bparties .bbox{
    padding: 40px;
    text-align: center;

}
.businessp .bparties .bbox a i{
    font-size: 60px;
    color: #909090;
}
.businessp .bparties .bbox h4{
    color: #909090;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 5px;
}
    /*end businessp*/
/*----Start footer-----*/
.footer{
    width: 100%;
    padding-top: 50px;
    
    background: #008BA5;
}
.footer .logo{
    margin-top: -10px;
    text-align: center;
    margin-left: -8px;
}
.footer .text{
    margin-top: 10px;
    color: #fff;
}

.footer .contact{
    color: #fff;
}
.footer .contact h3{
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.footer .contact i{
    margin-right: 5px;
}
.footer .contact p:nth-child(5){

    margin-left: 20px;
}
.footer .update h3{
  
    margin-top: 0;
}
.footer h3{
    font-weight: bold;
    color: #21445C;
}
.footer .menubar ul li{
    list-style-type: none;
    float: left;
    margin-right: 15px;
}
.footer .menubar ul li a{
    text-decoration: none;
    color: #ffb607;
    font-weight: bold;
}
.footer input[type=text]{
    width: 330px;
    padding: 8px 20px;
    margin: 20px 0;
    outline: 0;
    color: #000;
    
    overflow: hidden;
    
  
}
.footer button {
    
    text-transform: capitalize;
   font-size: 16px;
     border: 2px solid #FFB243;
   color: #ffb607;
  
    padding: 6px 20px;
    margin: 8px 0;
      background-color: transparent; 
    cursor: pointer;
    -webkit-transition: ease .4s all;
    -moz-transition: ease .4s all;
    -ms-transition: ease .4s all;
    -o-transition: ease .4s all;
    transition: ease .4s all;
}

.footer .bottom{
    margin-top: 25px;
    height: 40px;
    background: #037a90;
    color: #eee;
}
.footer .bottom p{
    padding-top: 10px;
}

    /*----End footer-----*/